body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#message {
  width: 100%;
  min-height: 25px;
}

#messages {
  color: mintcream;
  background-color: rgb(54, 83, 69);
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
}

#title {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}

input[type=text] {
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding-left: 20px;
}

#name {
  margin-left: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
}